@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.card {
    @apply bg-blue-400 h-40 flex-1 rounded-lg relative overflow-hidden;
}

.card::before {
    content: '';
    @apply bg-indigo-800 h-52 w-1/2 absolute rounded-r-full;
}

.card::after {
    content: '';
    @apply bg-cyan-300 h-24 w-24 absolute -right-8 -top-8 rounded-full;
}

.menu {
    @apply h-10 flex flex-row items-center pl-2 text-gray-500 cursor-pointer;
}

.menu:hover {
    @apply h-10 flex flex-row items-center pl-2 text-indigo-500 bg-indigo-500 bg-opacity-10 rounded-md cursor-pointer;
}

.menu-active {
    @apply h-10 flex flex-row items-center pl-2 text-indigo-500 bg-indigo-500 bg-opacity-10 rounded-md cursor-pointer;
}